@model Test02.Models.Pojisteni

@{
    ViewData["Title"] = "Náhled na Pojištění";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">
    Detail pojištění zákazníka - @Html.DisplayFor(model => model.Zakaznik.Jmeno) @Html.DisplayFor(model => model.Zakaznik.Prijmeni)
</h3>

<hr />
<div class ="row justify-content-center">
    <div class="col-sm-10">
        <dl class="row border-bottom mb-0">
@*            <dt class = "col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.Zakaznik)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Zakaznik.Jmeno)
                @Html.DisplayFor(model => model.Zakaznik.Prijmeni)
            </dd>*@
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.ZakaznikTyp)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.ZakaznikTyp)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.PojisteniTyp)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PojisteniTyp)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.PredmetPojisteni)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PredmetPojisteni)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.PojisteniUroven)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PojisteniUroven)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.PojistnaCastka)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PojistnaCastka)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.PlatnostOd)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PlatnostOd)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.PlatnostDo)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PlatnostDo)
            </dd>
        </dl>
    </div>
</div>
<div class="text-center mt-3">
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.Id">Upravit</a> |
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model?.Id">Smazat</a> |
    <a class="btn btn-outline-secondary" asp-action="Index" asp-route-id="@Model?.ZakaznikId">Zpět</a>
</div>
