@model Test02.Models.Pojisteni
@using System.ComponentModel.DataAnnotations

@{
    ViewData["Title"] = "Upravit Pojištění";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">
    Upravit pojištění zákazníka - @ViewBag.ZakaznikCeleJmeno
</h3>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group visually-hidden">
                <label asp-for="ZakaznikId" class="form-label fw-bold mt-2"></label>
                <input asp-for="ZakaznikId" class="form-control" asp-items="@Model.ZakaznikId" />
                <span asp-validation-for="ZakaznikId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZakaznikTyp" class="form-label fw-bold mt-2"></label>
                @foreach (var item in Enum.GetValues(typeof(TypZakaznika)))
                {
                    var name = item.GetType().GetMember(item.ToString())[0]
                    .GetCustomAttributes(typeof(DisplayAttribute), false)
                    .SingleOrDefault() as DisplayAttribute;

                    <div class="form-check">
                        <input type="radio" id="@item.ToString()" name="ZakaznikTyp" value="@item"
                               checked="@item.Equals(Model.ZakaznikTyp)" class="form-check-input" />
                        <label class="form-check-label" for="@item.ToString()">
                            @name?.Name
                        </label>
                    </div>
                }
                <span asp-validation-for="ZakaznikTyp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PojisteniTyp" class="form-label fw-bold mt-2"></label>
                @foreach (var item in Enum.GetValues(typeof(TypPojisteni)))
                {
                    var name = item.GetType().GetMember(item.ToString())[0]
                    .GetCustomAttributes(typeof(DisplayAttribute), false)
                    .SingleOrDefault() as DisplayAttribute;

                    <div class="form-check">
                        <input type="radio" id="@item.ToString()" name="PojisteniTyp" value="@item"
                               checked="@item.Equals(Model.PojisteniTyp)" class="form-check-input" />
                        <label class="form-check-label" for="@item.ToString()">
                            @name?.Name
                        </label>
                    </div>
                }
                <span asp-validation-for="PojisteniTyp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PredmetPojisteni" class="form-label fw-bold mt-2"></label>
                <input asp-for="PredmetPojisteni" class="form-control" />
                <span asp-validation-for="PredmetPojisteni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PojisteniUroven" class="form-label fw-bold mt-2"></label>
                @foreach (var item in Enum.GetValues(typeof(UrovenPojisteni)))
                {
                    var name = item.GetType().GetMember(item.ToString())[0]
                    .GetCustomAttributes(typeof(DisplayAttribute), false)
                    .SingleOrDefault() as DisplayAttribute;

                    <div class="form-check">
                        <input type="radio" id="@item.ToString()" name="PojisteniUroven" value="@item"
                               checked="@item.Equals(Model.PojisteniUroven)" class="form-check-input" />
                        <label class="form-check-label" for="@item.ToString()">
                            @name?.Name
                        </label>
                    </div>
                }
                <span asp-validation-for="PojisteniUroven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PojistnaCastka" class="form-label fw-bold mt-2"></label>
                <input asp-for="PojistnaCastka" class="form-control" />
                <span asp-validation-for="PojistnaCastka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatnostOd" class="form-label fw-bold mt-2"></label>
                <input asp-for="PlatnostOd" class="form-control" />
                <span asp-validation-for="PlatnostOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatnostDo" class="form-label fw-bold mt-2"></label>
                <input asp-for="PlatnostDo" class="form-control" />
                <span asp-validation-for="PlatnostDo" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group mt-3 text-center">
                <input type="submit" value="Potvrdit" class="btn btn-outline-warning" /> |
                <a class="btn btn-outline-secondary" asp-action="Index" asp-route-id="@Model?.ZakaznikId">Zrušit</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
