@model Test02.Models.Adresa

@{
    ViewData["Title"] = "Smazat Adresu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">
    Smazat adresu zákazníka - @ViewBag.ZakaznikCeleJmeno
</h3>
<h5 class="text-danger text-center">
    Ujistěte se, že tuto akci provádíte při plném vědomí - akce je nevratná!!!
</h5>
<hr />
<div class="row justify-content-center">
    <div class="col-sm-10">
        <dl class="row border-bottom mb-0">
@*            <dt class = "col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.Zakaznik)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Zakaznik.Jmeno)
                @Html.DisplayFor(model => model.Zakaznik.Prijmeni)
            </dd>*@
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.Ulice)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Ulice)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.CisloPopisne)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.CisloPopisne)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.Obec)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.Obec)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.PSC)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.PSC)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.AdresaTyp)
            </dt>
            <dd class = "col-sm-6">
                @Html.DisplayFor(model => model.AdresaTyp)
            </dd>
            <dt class="col-sm-6 text-sm-end">
                @Html.DisplayNameFor(model => model.DorucovaciAdresa)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.DorucovaciAdresa)
            </dd>
        </dl>
    
        <form asp-action="Delete" class="mt-3 text-center">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Potvrdit" class="btn btn-outline-danger" /> |
            <a class="btn btn-outline-secondary" asp-action="Index" asp-route-id="@Model?.ZakaznikId">Zrušit</a>
        </form>
    </div>
</div>
